%h1 Pricing
= form_tag subscribe_path, method: 'POST', id: 'new_subscription' do |f|
  %label Basic Plan
  = radio_button_tag 'plan', 'basic_plan_id'
  %label Premium Plan
  = radio_button_tag 'plan', 'premium_plan_id'
  = hidden_field_tag 'stripe_card_token'
  %h3#stripe_error
  %label Credit Card
  %input{:type => "text", id: 'credit_card_number'}
  %br
  = label_tag :card_month, "Card Expiration"
  = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
  = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}
  %br
  %label Security Code
  %input{:type => "text", id: 'security_code'}/
  %br
  %button{:type => "submit"} Register
%script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
%script Stripe.setPublishableKey("#{Rails.configuration.stripe[:publishable_key]}");
