!!!
%html{:lang => "en"}
  %head
    %title StripeTutorial
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
  %body
    %h3 Songs
    - if session[:user_id]
      = link_to 'Subscribe', pricing_path
      = link_to 'Log Out', destroy_sessions_path
    - else
      = link_to 'Sign In', new_sessions_path
    = yield
